.centeredvideo {
	margin-left:auto;
	margin-right:auto;
	width:640px;
}

.top-padding{
	padding-top: 40px;
}

#mc_embed_signup form {
    background: black;
}

#mc_embed_signup .clear {
    text-align:center;
}