<html>
	<head>
		<title>
			The One Minute Web App
		</title>
		<!-- This is our bootstrap theme -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.0/united/bootstrap.min.css">
		<!-- This is our custom stylesheet with anything we need to edit. -->
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="../css/ingeniousinstruments.css">
		
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!-- The name of your website, your brand if you will -->
					<a href="/" class="navbar-brand">Ingenious Instruments</a>
					<!-- This is the little hamburger you will see on the mobile version of your website -->
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<!-- This is the menu, the list of things you could have on your website -->
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"> Invest <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">
								<li><a href="">Key Partners</a></li>
								<li class="divider"></li>
								<li><a href="">Key Activities</a></li>
								<li class="divider"></li>
								<li><a href="">Key Resources</a></li>
								<li class="divider"></li>
								<li><a href="">Value Proposition</a></li>
								<li class="divider"></li>
								<li><a href="">Customer Relationships</a></li>
								<li class="divider"></li>
								<li><a href="">Channels</a></li>
								<li class="divider"></li>
								<li><a href="">Customer Segments</a></li>
								<li class="divider"></li>
								<li><a href="">Cost Structure</a></li>
								<li class="divider"></li>
								<li><a href="#">Revenue Streams</a></li>
							</ul>
						</li>
					
						<li>
							<a href="#about">Team</a>
						</li>
						<li>
							<!-- The target="_blank" will force the link to open in a new tab, handy for keeping people on your page -->
							<a href="#upload">Upload Image</a>
						</li>
						<li><a>Shop</a></li>
						<li>
							<a href="#contact">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="container">
				<h1>Invest</h1>

				<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Key Partners
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
	       <li>Cambridge University</li>  
           <li>Code First: Girls</li>
           <li>Bank of America Merill Lynch</li>
        </ul>
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Key Activities
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li>Solves the 'pain' of diagnosing tropical deseases in developing countries to potentially save lives</li>
        	<li>Offers innovative equipment for academic education of school kids and university students in the UK and globally</li>
            <li>Promotes academic research opportunities for scientists</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
		</div>
		</div>
		<div class="footer-wrapper">
			<footer>
			    <div class="container">
			        <ul>
			            <li>About Us</li>
			            <li>Contact</li>
			        </ul>
			    </div>
			</footer>
		</div>
		<!-- This is jquery a lovely javascript library needed for bootstrap and hosted by Google -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!-- This is bootstrap javascript to make dropdowns work and other cool javascript interactivity -->
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</body>
</html>